LOG_JSON=false
ORCHESTRATOR_URL=http://localhost:8080
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0IjoiYWdlbnRyZWciLCJpZCI6InRlc3QiLCJpYXQiOjE3NTQ0ODA3ODJ9.h3fH9qAVUGP50onrZP83g2VNxA0yEmHRXPRkPI45mTA
